tools/soitoolkit-generator/soitoolkit-generator/src/main/resources/schemaComponent/newProject/src/main/resources/schemas/sample.xsd.gt

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
	targetNamespace="urn:org.sample.sample.schema:v1"
	xmlns:tns="urn:org.sample.sample.schema:v1" 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified" 
	version="1.0">


	<xsd:element name="sample">
	    <xsd:complexType>
	        <xsd:sequence>
				<xsd:element name="anElement" type="xsd:string"/>
	
	            <xsd:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded" />
	        </xsd:sequence>
	    </xsd:complexType>
	</xsd:element>
	
    <xsd:element name="sampleResponse">
        <xsd:complexType>
            <xsd:sequence>
				<xsd:element name="anElement" type="xsd:string"/>
                
                <xsd:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>


	<xsd:element name="faultInfo">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="faultId" type="xsd:string">
					<xsd:annotation>
						<xsd:documentation>
							Used for tracing faults across systems.
							faultId is a unique fault instance identifier (for example a UUID)
							generated by the service provider where the fault occured
							(faultOriginatingSource).
							The service provider SHOULD write the faultId to log together with
							a fault description.
							The service consumer SHOULD also write the faultId to log.
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="faultOriginatingSource" type="xsd:string">
					<xsd:annotation>
						<xsd:documentation>
							Used for tracing faults across systems.
							faultOriginatingSource is the name of the service provider where
							the fault occured.
          </xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="code" type="xsd:int">
					<xsd:annotation>
						<xsd:documentation>
							Used to communicate the reason for a fault.
							code represents the fault category.
							code is intended for programmatic use.
          </xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="message" type="xsd:string" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>
							Used to communicate the reason for a fault.
							message is a free-text field where a rich description of the fault
							can be provided.
							message is NOT intended for programmatic use.
          </xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="details" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="name" type="xsd:string" />
							<xsd:element name="value" type="xsd:string" />
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>

				<xsd:any namespace="##other" processContents="lax"
					minOccurs="0" maxOccurs="unbounded" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
    
</xsd:schema>
