commons/components/commons-schemas/src/main/resources/schemas/org/soitoolkit/commons/logentry/v1/LogEntry.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
	targetNamespace="urn:org.soitoolkit.commons.logentry.schema:v1"
	xmlns:tns="urn:org.soitoolkit.commons.logentry.schema:v1" 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified" 
	version="1.0">

	<xsd:element name="logEvent">
		<xsd:complexType>
			<xsd:sequence>

				<xsd:element name="logEntry" type="tns:LogEntryType" />

				<xsd:any namespace="##other" processContents="lax"
					minOccurs="0" maxOccurs="unbounded" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>


	<!-- 
		LogEntryType
	  -->
    <xsd:complexType name="LogEntryType">
    	<xsd:sequence>
    		<xsd:element name="metadataInfo" type="tns:LogMetadataInfoType"/>
    		<xsd:element name="runtimeInfo"  type="tns:LogRuntimeInfoType"/>
    		<xsd:element name="messageInfo"  type="tns:LogMessageType"/>
    		<xsd:element name="payload"      type="xsd:string" minOccurs="0"/>

    		<xsd:element name="extraInfo" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                	<xsd:documentation>
                		Any extra information regarding the log entry that the current metadata doesn't support...
                	</xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
    				<xsd:sequence>
    					<xsd:element name="name" type="xsd:string"/>
    					<xsd:element name="value" type="xsd:string"/>
    				</xsd:sequence>
    			</xsd:complexType>
    		</xsd:element>

    		<xsd:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    	</xsd:sequence>
    </xsd:complexType>


	<!-- 
		LogMetadataInfoType
	  -->
    <xsd:complexType name="LogMetadataInfoType">
    	<xsd:sequence>

    		<xsd:element name="integrationScenarioId" type="xsd:string" minOccurs="0">
	            <xsd:annotation>
	                <xsd:documentation>
	                    Name of the integration scenario or business process that this log event is part of
	                </xsd:documentation>
	            </xsd:annotation>
    		</xsd:element>

    		<xsd:element name="contractId" type="xsd:string">
	            <xsd:annotation>
	                <xsd:documentation>
	                    Name of the contract that this log event relates to
	                </xsd:documentation>
	            </xsd:annotation>
    		</xsd:element>

    		<xsd:element name="endpoint" type="xsd:string">
	            <xsd:annotation>
	                <xsd:documentation>
	                    Name of the endpoint for this log event, e.g. 
	                      "sftp://host/sftp/app/out" 
	                    eller 
	                      "jms://queue"
	                </xsd:documentation>
	            </xsd:annotation>
    		</xsd:element>

    		<xsd:element name="messageType" type="xsd:string">
	            <xsd:annotation>
	                <xsd:documentation>
	                	Name of the message type, e.g. a XML Schema namespace for a XML payload
	                </xsd:documentation>
	            </xsd:annotation>
    		</xsd:element>
    		
    		<xsd:element name="serviceImplementation" type="xsd:string">
	            <xsd:annotation>
	                <xsd:documentation>
	                	Id of the service provider
	                </xsd:documentation>
	            </xsd:annotation>
    		</xsd:element>
    		
    		<xsd:element name="loggerName" type="xsd:string">
	            <xsd:annotation>
	                <xsd:documentation>
	                	Name of the logger-object that created this log-event, e.g. the name of a log4j logger
	                </xsd:documentation>
	            </xsd:annotation>
    		</xsd:element>
    		
    		<xsd:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    	</xsd:sequence>
    </xsd:complexType>

	<!-- 
		LogRuntimeInfoType
	  -->
    <xsd:complexType name="LogRuntimeInfoType">
    	<xsd:sequence>

    		<xsd:element name="timestamp" type="xsd:dateTime">
	            <xsd:annotation>
	                <xsd:documentation>
	                	Timestamp for the log event.
	                </xsd:documentation>
	            </xsd:annotation>
    		</xsd:element>

    		<xsd:element name="hostName" type="xsd:string">
	            <xsd:annotation>
	                <xsd:documentation>
	                	Host name of the computer that where the log event was created
	                </xsd:documentation>
	            </xsd:annotation>
    		</xsd:element>

    		<xsd:element name="hostIp" type="xsd:string">
	            <xsd:annotation>
	                <xsd:documentation>
	                	IP address of the computer that where the log event was created
	                </xsd:documentation>
	            </xsd:annotation>
    		</xsd:element>

    		<xsd:element name="processId" type="xsd:string">
	            <xsd:annotation>
	                <xsd:documentation>
	                	Identity of the process on the host, i.e. a PID
	                </xsd:documentation>
	            </xsd:annotation>
    		</xsd:element>

    		<xsd:element name="threadId" type="xsd:string">
	            <xsd:annotation>
	                <xsd:documentation>
		                Identity of the thread
	                </xsd:documentation>
	            </xsd:annotation>
    		</xsd:element>

    		<xsd:element name="componentId" type="xsd:string">
	            <xsd:annotation>
	                <xsd:documentation>
	                	Identity of the software component in the process on the host, i.e. OrderMgmServices
	                </xsd:documentation>
	            </xsd:annotation>
    		</xsd:element>

    		<xsd:element name="messageId" type="xsd:string">
	            <xsd:annotation>
	                <xsd:documentation>
		                Identity of the message
	                </xsd:documentation>
	            </xsd:annotation>
    		</xsd:element>

    		<xsd:element name="businessCorrelationId" type="xsd:string" minOccurs="0">
	            <xsd:annotation>
	                <xsd:documentation>
	                	Identity of the specific instance of a specific integration scenario or business process.
	                	Used to correlate log-events from one and the same execution of a specific integration scenario or business process
	                </xsd:documentation>
	            </xsd:annotation>
    		</xsd:element>

    		<xsd:element name="businessContextId" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                	<xsd:documentation>
                		A business related id for this instance of the integration scenario or business process.
                		For example a customer id or an order number.
                	    Examples: customerId=12345, orderNo=67890, invoiceNo=98765
                	</xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
    				<xsd:sequence>
    					<xsd:element name="name" type="xsd:string"/>
    					<xsd:element name="value" type="xsd:string"/>
    				</xsd:sequence>
    			</xsd:complexType>
    		</xsd:element>
    		
    		<xsd:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    	</xsd:sequence>
    </xsd:complexType>


	<!-- 
		LogMessageType
	  -->
    <xsd:complexType name="LogMessageType">
    	<xsd:sequence>

    		<xsd:element name="level" type="tns:LogLevelType">
	            <xsd:annotation>
	                <xsd:documentation>
	                	Log-level of the log-event: FATAL, ERROR, WARNING, INFO, DEBUG or TRACE
	                </xsd:documentation>
	            </xsd:annotation>
    		</xsd:element>

    		<xsd:element name="message" type="xsd:string">
	            <xsd:annotation>
	                <xsd:documentation>
	                	Log event message
	                </xsd:documentation>
	            </xsd:annotation>
    		</xsd:element>

    		<xsd:element name="exception" type="tns:LogMessageExceptionType"/>
    		
    		<xsd:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    	</xsd:sequence>
    </xsd:complexType>
    
	<!-- 
		LogMessageExceptionType
	  -->
    <xsd:complexType name="LogMessageExceptionType">
    	<xsd:sequence>

    		<xsd:element name="exceptionClass" type="xsd:string">
	            <xsd:annotation>
	                <xsd:documentation>
	                	Exception class, e.g.: java.io.IOException
	                </xsd:documentation>
	            </xsd:annotation>
    		</xsd:element>

    		<xsd:element name="exceptionMessage" type="xsd:string">
	            <xsd:annotation>
	                <xsd:documentation>
	                	Exception message, e.g.: File not found
	                </xsd:documentation>
	            </xsd:annotation>
    		</xsd:element>

    		<xsd:element name="stackTrace" type="xsd:string" maxOccurs="unbounded">
	            <xsd:annotation>
	                <xsd:documentation>
	                	Stacktrace, e.g.:

						java.io.IOException: Error 'No such file' occured when trying to CDW to '/home/suer/sftp/app/out'.
							at org.mule.transport.sftp.SftpClient.changeWorkingDirectory(SftpClient.java:92)
							at org.mule.transport.sftp.SftpConnector.createSftpClient(SftpConnector.java:235)
							at org.mule.transport.sftp.SftpConnector.createSftpClient(SftpConnector.java:175)
							at org.mule.transport.sftp.SftpReceiverRequesterUtil.getAvailableFiles(SftpReceiverRequesterUtil.java:57)
							at org.mule.transport.sftp.SftpMessageReceiver.poll(SftpMessageReceiver.java:46)
							at org.mule.transport.PollingReceiverWorker.run(PollingReceiverWorker.java:47)
							at org.mule.work.WorkerContext.run(WorkerContext.java:310)
							at edu.emory.mathcs.backport.java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1061)
							at edu.emory.mathcs.backport.java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:575)
							at java.lang.Thread.run(Thread.java:595)
	                </xsd:documentation>
	            </xsd:annotation>
    		</xsd:element>
    		
    		<xsd:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    	</xsd:sequence>
    </xsd:complexType>

	<xsd:simpleType name="LogLevelType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="FATAL"/>
			<xsd:enumeration value="ERROR"/>
			<xsd:enumeration value="WARNING"/>
			<xsd:enumeration value="INFO"/>
			<xsd:enumeration value="DEBUG"/>
			<xsd:enumeration value="TRACE"/>
		</xsd:restriction>
	</xsd:simpleType>     

</xsd:schema>
