tools/soitoolkit-generator/soitoolkit-generator-plugin/schemaComponent/templates/schemaComponent/newProject/trunk/src/main/resources/schemas/__sd.schemaFilepath__/__sd.schema__.xsd.gt

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
	targetNamespace="${sd.schemaNamespace}"
	xmlns:tns="${sd.schemaNamespace}" 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified" 
	version="1.0">

<% sd.operations.each { op -> %>
	<xsd:element name="${op.schemaRequestElement}">
	    <xsd:complexType>
	        <xsd:sequence>
				<xsd:element name="anElement" type="xsd:string"/>
	
	            <xsd:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded" />
	        </xsd:sequence>
	    </xsd:complexType>
	</xsd:element>
	
    <xsd:element name="${op.schemaResponseElement}">
        <xsd:complexType>
            <xsd:sequence>
				<xsd:element name="anElement" type="xsd:string"/>
                
                <xsd:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
<% } %>

	<xsd:element name="faultInfo">
        <xsd:complexType>
	        <xsd:sequence>
	            <xsd:element name="classifiedFault" type="tns:FaultType"/>
	
	            <xsd:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
	        </xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:complexType name="FaultType" abstract="true">
		<xsd:sequence>
			<xsd:element name="code" type="xsd:string" />
			<xsd:element name="message" type="xsd:string" minOccurs="0" />
			<xsd:element name="details" minOccurs="0" maxOccurs="unbounded">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="name" type="xsd:string" />
						<xsd:element name="value" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>    
	


    
</xsd:schema>
